//FOOTER
.contact-footer{
  background-color: #282423;
}

#main-footer{

  color:#fff;

  h2{
    font-size:25px;
  }

  a{
    text-decoration: none;
  }

  .social-buttons{
    position: absolute;
    right:auto !important;
    margin-right: auto;
  }

}