//FOOTER
.contact-footer{
  background-color: #282423;
}

#main-footer{
  @include media-breakpoint-down(lg){
    p{
      font-size:50px;
    }

    .copyright {
      font-size:20px !important;
    }
  }

  color:#fff;

  h2{
    font-size:25px;
  }

  a{
    text-decoration: none;
  }

  .social-buttons{
    position: absolute;
    right:auto !important;
    margin-right: auto;

    a{
      @include media-breakpoint-down(lg){
        font-size:75px;
      }
    }
  }

  //mobile
  @include media-breakpoint-down(lg){
    font-size:50px !important;

    h2{
      font-size:55px;
    }
  }

}

