//navbar

//remove underline from email link at top of page
header{
  a{
    text-decoration: none;
  }
}

#navbarBasic {
  ul li {
    margin: 0 10px;
    color:#fff;
  }

  a{
    font-size: 18px;
    text-decoration: none;

    &:hover{
      color: lighten($primary, 10%);
    }
  }

  .active{
    color: lighten($primary, 20%);
  }
}

.navbar{
  background-color:#282423;

  img{
    width:80%;
  }
}

.nav-text a{
  color:#fff;
}

.navbar-booking{
  background-color: $primary;
  padding:2px 20px !important;
  border-radius: 5%;
  margin:0 10px;

  a{
    color:#fff ;

    &:hover{
      color:#fff !important;
    }
  }

  li{
    margin-top: -40px !important;
  }
}
