//navbar

//remove underline from email link at top of page
header{
  a{
    text-decoration: none;
  }

  //phone number
  span{
    font-size: 22px !important;
  }
}

#navbarBasic {

  ul li {
    margin: 0 10px;
    color:#fff;
  }

  a{
    font-size: 18px;
    text-decoration: none;

    @include media-breakpoint-down(md){
      font-size: 20px;
    }

    &:hover{
      color: lighten($primary, 10%);
    }
  }

  .active{
    color: lighten($primary, 20%);
  }
}

.navbar{
  background-color:#282423;

  img{
    width:80%;
  }
}

.nav-text a{
  color:#fff;
}

@include media-breakpoint-up(lg){
  .navbar-booking{
    background-color: $primary;
    padding:2px 20px !important;
    border-radius: 5%;
    margin:0 10px;

    a{
      color:#fff;

      &:hover{
        color:#fff !important;
      }
    }

    li{
      margin-top: -40px !important;
    }
  }
}

//mobile
@include media-breakpoint-down(md){
  .navbar button {
    position: relative;
    left:50%;
    transform:translateX(-50%);
  }

  //remove outline border of humburger
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar img{
    position: relative;
    left:50%;
    transform:translateX(-50%);
  }
}

@include media-breakpoint-up(lg){
  .navbar .nav-item:hover .dropdown-menu {
    width: 200px;
  }
}
