//social buttons
.social-buttons a{
  padding-left:0px;
  padding-right:0px;
  font-size: 24px;
}

//header buttons
header .social-buttons{
  margin-left: 20px;
}

.social-buttons .fab,.fa-envelope{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

//footer buttons
#main-footer, .social-buttons{
  margin-left: 0;
  margin-right: 0;
}
