<!--options motorhome-->
<section id="motorhome-campervan-options">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="motorhome-options">
                    <div class="motorhome-options__content">
                        <div class="motorhome-options__header">
                            <h2>Options & Extras</h2>
                        </div>
                        <div class="motorhome-options__body">

                            <div class="owl-carousel owl-carousel-motorhome-options owl-theme">

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/couple-driving.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Extra driver</h3>
                                                <p class="card-text">£5 each per night.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/eu-travel.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">EU Travel</h3>
                                                <p class="card-text">£10 per night</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/tailgate.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Tailgate Awning</h3>
                                                <p class="card-text">£15 per night (Campervans only)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/outside-dining.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Outside Dining</h3>
                                                <p class="card-text">£5 per night - Table & upto 6 folding chairs</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/linen.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Bedding</h3>
                                                <p class="card-text">£15 per person </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/generator.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Generator</h3>
                                                <p class="card-text">£25 per hire (Dual fuel - Petrol or LPG)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/time.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Early collections & Late Drop offs</h3>
                                                <p class="card-text">£60 subject to availability</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/fuel.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Refill Package</h3>
                                                <p class="card-text">£100 Return your hire with an empty fuel tank and Adblue and we will refill whatever you use</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="card">
                                        <img src="{{site.url}}/assets/img/we-come-to-you.jpg" class="card-img-top" alt="Options and Extras">
                                        <div class="card-body card-body-parent">
                                            <div class="card-body-child">
                                                <h3 class="card-title">Drop Off & Pick Up</h3>
                                                <p class="card-text">P.O.A. Want us to bring your hire to you? Subject to availability</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
