<section id="cookie">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="cookie bg-primary text-light py-lg-2">
                    <div class="cookie__content">
                        <div class="cookie__body d-flex justify-content-between align-items-center">
                            <p class="m-0 mx-1 mx-lg-8">This website is using cookies to improve the user-friendliness. You agree by using the website further.</p>
                            <button class="mx-2 btn btn-outline-light cookie-btn">Understood</button>
                            <a class="mx-1 mx-lg-8 text-light" href="./privacy-policy.html">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="main-footer">
    <div class="container-fluid contact-footer py-3">
        <div class="row">

            <div class="col-lg-3 d-flex justify-content-center">
                <address>
                    <h2 class="fw-bold">Address</h2>
                    <p>
                        Old Grain Store<br /> Wymeswold Lodge<br /> Narrow Lodge<br /> Wymeswold<br /> Loughborough<br /> LE12 6SD
                    </p>
                </address>
            </div>

            <div class="col-lg-3">
                <h2 class="fw-bold">Useful Links</h2>
                <div class="d-flex justify-content-center">
                    <p><a href="./tcs.html" target="_blank" rel="noopener noreferrer">Terms and conditions</a><br /><a href="./privacy-policy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a><br /><a href="http://www.britain-magazine.com" target="_blank" rel="noopener noreferrer">britain-magazine.com</a><br /> <a href="http://www.visitbritain.org" target="_blank" rel="noopener noreferrer"> visitbritain.com</a><br /> <a href="http://www.visitengland.com" target="_blank" rel="noopener noreferrer"> visitengland.com</a><br /> <a href="http://www.visitscotland.com" target="_blank" rel="noopener noreferrer">visitscotland.com</a><br /> <a href="http://www.visitwales.com" target="_blank" rel="noopener noreferrer">visitwales.com</a></p>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="fw-bold">Contact Us</h2>
                <p class="text-center">If you need further info please don't hesitate to get in touch.</p>
                <div class="d-flex justify-content-evenly">
                    <span class="pr-lg-2"><i class="fa fa-phone" aria-hidden="true"></i> 029 2022 6501 </span><span><i class="fa fa-envelope"></i><a href="mailto:sales@dragonsigns.com"> hello@N-MH.co.uk</a></span>
                </div>
                <h3 class="text-center mt-lg-3">Follow Us</h3>
                <div class="d-flex justify-content-center">
                    <span class="social-buttons">
                        <a href="https://www.facebook.com/dragonsigns" target="_blank" class="fab fa-facebook-f fa-2x"></a>
                        <a href="https://twitter.com/dragon_signs" target="_blank" class="fab fa-twitter fa-2x"></a>
                        <a href="https://instagram.com/dragonsigns/" target="_blank" class="fab fa-instagram fa-2x"></a>
                        <a href="mailto:sales@dragonsigns.com" class="fa fa-envelope fa-2x" aria-hidden="true"></a>
                    </span>
                </div>
            </div>

            <div class="col-lg-3 d-flex justify-content-center align-items-center">
                <img src="{{site.url}}/assets/img/logo.jpg" class="img-fluid" alt="">
            </div>

            <div class="footer-logos pt-lg-6">
                <div class="row">
                    <div class="col-lg-2 offset-lg-1 gx-2">
                        <img src="{{site.url}}/assets/img/powered-by-stripe-1.png" class="img-fluid" alt="powered by stripe">
                    </div>
                    <div class="col-lg-2 gx-2">
                        <img src="{{site.url}}/assets/img/BVRLA-Logo-2017-300x127.jpg" class="img-fluid" alt="BVRLA Logo">
                    </div>
                    <div class="col-lg-2 gx-2">
                        <img src="{{site.url}}/assets/img/Camping-and-Caravan-club.jpg" class="img-fluid" alt="Camping and Caravan club">
                    </div>
                    <div class="col-lg-2 gx-2">
                        <img src="{{site.url}}/assets/img/caravan-and-motorhome-club.png" class="img-fluid" alt="caravan and motorhome club">
                    </div>
                    <div class="col-lg-2 gx-2">
                        <img src="{{site.url}}/assets/img/Good-To-Go-England-Green.png" class="img-fluid" alt="England Green">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-center my-2 mt-lg-4 mb-lg-2">
                        Copyright NMH 2020. All rights reserved. Company number: 12805178. VAT Number 383 6969 36. Registered in England & Wales. 4 Bank Court Weldon Court Loughborough LE11 5RF
                    </p>
                    <address class="text-center my-2">
                        Site Made by <a href="https://dragoninfotech.com">Dragon Info Tech</a>
                    </address>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js" integrity="sha256-cyEXrJKjO3YNkpCjPxVBdi7pRJ3EF+okm1oN9Qc4rRY=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{{ site.url }}/assets/js/owl.carousel.min.js"></script>

<script type="text/javascript">
    var Outdoorsy = Outdoorsy || {};
    Outdoorsy.color = "1b4a8f";
    (function() {
        var script = document.createElement("script");
        script.src = "https://d3cuf6g1arkgx6.cloudfront.net/sdk/wheelbase.min.js";
        script.async = true;
        var entry = document.getElementsByTagName("script")[0];
        entry.parentNode.insertBefore(script, entry);
    })();
</script>

<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>

<script src="{{ site.url }}/assets/js/source.js"></script>

</body>
</html>
