<!--NAVBAR-->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center bg-dark box-shadow">
        <div class="container-fluid">

            <div class="nav-text bg-primary text-light p-2 contact-details-header">
                <i class="fa fa-phone" aria-hidden="true"></i><span class="pr-lg-2"> 029 2022 6501 </span><i class="fa fa-envelope"></i><a href="mailto:sales@dragonsigns.com"> hello@N-MH.co.uk</a>

                <span class="social-buttons">
                    <a href="https://www.facebook.com/dragonsigns" target="_blank" class="fab fa-facebook-f fa-2x"></a>
                    <a href="https://twitter.com/dragon_signs" target="_blank" class="fab fa-twitter fa-2x"></a>
                    <!--<a href="https://plus.google.com/117843347073935131993" target="_blank" class="fab fa-google fa-2x"></a>-->
                    <a href="https://instagram.com/dragonsigns/" target="_blank" class="fab fa-instagram fa-2x"></a>
                    <a href="mailto:sales@dragonsigns.com" class="fa fa-envelope fa-2x" aria-hidden="true"></a>
                </span>

            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="mr-md-auto">
            <img src="{{site.url}}/assets/img/Dragon-Signs-Logo.jpg" class="img-fluid" alt="dragonsigns logo" height="75" >
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li><a href="/">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Fleet
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                        <li><a href="./our-fleet.html#type-1">Type 1</a></li>

                        <li><a href="./our-fleet.html#type-2">Type 2</a></li>

                        <li><a href="./our-fleet.html#type-3">Type 3</a></li>

                        <li><a href="./our-fleet.html#type-4">Type 4</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink-our-fleet" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        How it Works
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink-our-fleet">

                        <li><a href="./how-it-works.html#user-guide">User Guide</a></li>

                        <li><a href="./how-it-works.html#options">Options</a></li>

                        <li><a href="./how-it-works.html#whats-included">Whats Included</a></li>

                        <li><a href="./how-it-works.html#pet-friendly">Dog Friendly</a></li>

                        <li><a href="./how-it-works.html#faq">FAQ</a></li>

                    </ul>
                </li>

                <li><a href="./adventures.html">Adventures</a></li>

                <li class="mr-3"><a href="./contact">Contact</a></li>

                <li class="navbar-booking"><a href="./booking.html">Booking</a></li>

            </ul>
        </div>

    </nav>
</header>