<!--NAVBAR-->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center bg-dark box-shadow">
        <div class="container-fluid">

            <div class="nav-text bg-primary text-light p-3 contact-details-header">
                <div class="d-inline d-flex justify-content-end align-items-center">
                    <!--<i class="fa fa-phone d-inline-block" aria-hidden="true"></i>--><span class="pl-5"> 01509 426442 </span>
                    <span class="social-buttons d-none d-lg-inline">
                        <a href="https://www.facebook.com/Niche-Motorhome-Hire-100295955310320/" target="_blank" class="fab fa-facebook-f fa-2x"></a>
                        <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x4879e1b8b3f6c7c3:0x362e8760dbe4221c?source=g.page.share" target="_blank" class="fab fa-google fa-2x"></a>
                        <a href="https://www.instagram.com/niche_motorh0mes/" target="_blank" class="fab fa-instagram fa-2x"></a>
                        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D441509426442%26app%3Dfacebook%26entry_point%3Dpage_cta&h=AT1XEQHuK6XLl85BBSg99EuynJsKWjUCT5JDbzfCkWTTZHQTrrpzIg9x_tj5ZrwGJw0rKeAZqc-e9MYDFFnm-VVwfrBQT2kCGfmuGKCkMoED_pYKaX2fncCCqOeFD7Lx5V68VWka4PlFK1vv7zW9DbI5yAsE2ajKtw" target="_blank" class="fab fa-whatsapp fa-2x"></a>
                        <a href="mailto:hello@n-mh.co.uk" class="fa fa-envelope fa-2x" aria-hidden="true"></a>
                    </span>

                </div>

            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-xl">

        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="mr-md-auto">
            <img src="{{site.url}}/assets/img/Dragon-Signs-Logo.jpg" class="img-fluid" alt="Neash Motor Homes" height="75" >
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarBasic">
            <ul class="navbar-nav">
                <li><a href="./">Home</a></li>

                <li class="nav-item dropdown justify-content-center">
                    <a onclick="location.href='our-fleet.html'" class="dropdown-toggle" href="./our-fleet.html" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Fleet
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                        <li><a href="./our-fleet.html#type-1">Campervans</a></li>

                        <li><a href="./our-fleet.html#type-2">Motorhomes 4 Birth</a></li>

                        <li><a href="./our-fleet.html#type-3">Motorhomes 5 Birth</a></li>

                        <li><a href="./our-fleet.html#type-4">Motorhomes 6 Birth</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a onclick="location.href='resources.html'" class="dropdown-toggle" href="./resources.html" id="navbarDarkDropdownMenuLink-resources" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink-resources">

                        <li><a href="./resources.html#user-guide">User Guide</a></li>

                        <li><a href="./resources.html#whats-included">Whats Included</a></li>

                        <li><a href="./resources.html#options">Options & Extras</a></li>

                        <li><a href="./resources.html#pet-friendly">Dog / Pets</a></li>

                        <li><a href="./resources.html#faq">FAQ</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a onclick="location.href='adventures.html'" class="dropdown-toggle" href="./adventures.html" id="navbarDarkDropdownMenuLink-adventure" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adventure
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink-adventure">
                        <li><a href="./adventures.html#things-to-do">Things to do</a></li>

                        <li><a href="./adventures.html#challenge">Niche Challenge</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a onclick="location.href='contact.html'" class="dropdown-toggle" href="./contact.html" id="navbarDarkDropdownMenuLink-contact" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink-adventure">
                        <li><a href="./contact.html#contact">Contact</a></li>

                        <li><a href="./work-with-us.html">Work with Us</a></li>
                    </ul>
                </li>

                <li><a href="./about.html">About Us</a></li>


                <li class="navbar-booking"><a href="./booking.html">Booking</a></li>

            </ul>
        </div>

    </nav>
</header>

<!--booking sidebar button-->
<div class="fix-parent d-none d-lg-block bg-primary text-light d-none d-lg-block">
    <div class="fix-child d-flex justify-content-center align-items-center">
        <a href="./booking.html">
            Booking Page
        </a>
    </div>
</div>

<section id="cookie">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="cookie bg-primary text-light py-lg-2">
                    <div class="cookie__content">
                        <div class="cookie__body d-flex justify-content-between align-items-center">
                            <p class="m-0 mx-1 mx-lg-8">This website is using cookies to improve the user-friendliness. You agree by using the website further.</p>
                            <button class="mx-2 btn btn-outline-light cookie-btn">Understood</button>
                            <a class="mx-1 mx-lg-8 text-light" href="./privacy-policy.html">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

