<!--NAVBAR-->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center bg-dark box-shadow">
        <div class="container-fluid">

            <div class="nav-text bg-primary text-light p-2 contact-details-header">
                <i class="fa fa-phone" aria-hidden="true"></i><span class="pr-lg-2"> 01509 426442 </span><i class="fa fa-envelope"></i><a href="mailto:hello@n-mh.co.uk"> hello@N-MH.co.uk</a>

                <span class="social-buttons d-none d-lg-inline">
                    <a href="https://www.facebook.com/Niche-Motorhome-Hire-100295955310320/" target="_blank" class="fab fa-facebook-f fa-2x"></a>
                    <a href="https://twitter.com/dragon_signs" target="_blank" class="fab fa-twitter fa-2x"></a>
                    <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x4879e1b8b3f6c7c3:0x362e8760dbe4221c?source=g.page.share" target="_blank" class="fab fa-google fa-2x"></a>
                    <a href="https://instagram.com/dragonsigns/" target="_blank" class="fab fa-instagram fa-2x"></a>
                    <a href="mailto:hello@n-mh.co.uk" class="fa fa-envelope fa-2x" aria-hidden="true"></a>
                </span>

            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-xl">

        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="mr-md-auto">
            <img src="{{site.url}}/assets/img/Dragon-Signs-Logo.jpg" class="img-fluid" alt="Neash Motor Homes" height="75" >
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarBasic">
            <ul class="navbar-nav">
                <li><a href="./">Home</a></li>

                <li class="nav-item dropdown">

                    <a onclick="location.href='our-fleet.html'" class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Fleet
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                        <li><a href="./our-fleet.html#type-1">Type 1</a></li>

                        <li><a href="./our-fleet.html#type-2">Type 2</a></li>

                        <li><a href="./our-fleet.html#type-3">Type 3</a></li>

                        <li><a href="./our-fleet.html#type-4">Type 4</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a onclick="location.href='how-it-works.html'" class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink-our-fleet" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        How it Works
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink-our-fleet">

                        <li><a href="./how-it-works.html#user-guide">User Guide</a></li>

                        <li><a href="./how-it-works.html#options">Options & Extras</a></li>

                        <li><a href="./how-it-works.html#whats-included">Whats Included</a></li>

                        <li><a href="./how-it-works.html#pet-friendly">Dog Friendly</a></li>

                        <li><a href="./how-it-works.html#faq">FAQ</a></li>

                    </ul>
                </li>

                <li><a href="./adventures.html">Adventures</a></li>

                <li class="mr-3"><a href="./contact">Contact</a></li>

                <li class="navbar-booking"><a href="./booking.html">Booking</a></li>

            </ul>
        </div>

    </nav>
</header>

<div class="fix-parent d-none d-lg-block">
    <div class="fix-child d-flex justify-content-center align-items-center">
        <a href="./booking.html">
            Booking Page
        </a>
    </div>
</div>

<section id="cookie">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="cookie bg-primary text-light py-lg-2">
                    <div class="cookie__content">
                        <div class="cookie__body d-flex justify-content-between align-items-center">
                            <p class="m-0 mx-1 mx-lg-8">This website is using cookies to improve the user-friendliness. You agree by using the website further.</p>
                            <button class="mx-2 btn btn-outline-light cookie-btn">Understood</button>
                            <a class="mx-1 mx-lg-8 text-light" href="./privacy-policy.html">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

