@import 'custom/vendors/juice';
@import 'custom/helpers/mixins';


//googlefont
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html, body{
  height:100%;
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight:700;
  text-align: center;
  @media all and (min-width: 992px) {
    font-size:rem-calc(65px)
  }
}

h2{
  font-weight:300;
  text-align: center;
  @media all and (min-width: 992px) {
    font-size:rem-calc(50px)
  }
}

//change owl carousel dot colour
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: $primary !important;
}

//cookie
#cookie{
  position:fixed;
  bottom:0;
  width:100%;
  z-index:20;
  display:none;
}

.cookie{
  @media all and (max-width: 992px) {
    p{
      font-size:16px;
    }
  }
}

//navbar show on hover
//@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
//}

@include media-breakpoint-down(lg){
  p{
    font-size: 20px;
  }
}

//booking page sidebar button
.fix-parent{
  top:50%;
  transform:translateY(-45%);
  position: fixed;
  right:-40px;

  z-index:20;
  transform:rotate(90deg);
  padding:10px;

  a{
    color:#fff;
    text-decoration:none;
  }
}

//All single vechicle page header section
#adventures-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/our-fleet-header.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;

    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

@include media-breakpoint-down(md){
  p{
    font-size:18px;
  }
}