//overlay background colour
@mixin overlay($height: 100%, $background: rgba(54, 25, 25, .4), $width: 100%, $top: 0, $left: 0, $right: 0) {
  height: $height;
  background: $background;
  width:$width;
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
}

@mixin font-heavy($font-size: 48px){
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size: rem-calc($font-size);
}

@mixin font-light($font-size: 30px){
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: rem-calc($font-size);
}

