---
---

@import 'custom/bootstrap-override';
@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/_social-btn';
@import 'custom/includes/gallery';
@import 'custom/includes/footer';
@import 'custom/includes/hero';
@import 'custom/helpers/global-classes';
@import 'custom/helpers/mixins';
@import 'custom/vendors/juice';

/*
 * Website Name - Website Name
 * Date - 9/5/18
 * Designed by Michael Owens / Dragon Info Tech
 */


//HOMEPAGE
//Intro
.intro{
  position: relative;

 &--bg-image{
   height: calc(100vh - 135px);
   background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
 }

  //.bg-layer{
  //  @include overlay;
  //}

  &__content{
    @include centerer;
    text-align:center;
    color:#fff;

    @include media-breakpoint-down(md){
      width:100%;
    }

    h2{
      font-size: rem-calc(66px);
      line-height:1;

      @include media-breakpoint-down(md){
        font-size: rem-calc(40px);
      }
    }

    p{
      font-size: rem-calc(36px);

      @include media-breakpoint-down(md){
        font-size: rem-calc(30px);
      }

    }
  }
}

//Select your campervan
#our-rv{

  .card-header{
    padding: 0;
  }


  .our-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
    }

    .our-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    .card{
      margin:10px 5px;
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}

//about
#about{
  background-color: #F6F6F6;
  margin:25px;

  .about{
    h2, h3{
      text-align:left;
    }
  }

  .covid{
    h2{
      font-size: rem-calc(40px);
      text-align: left;
      color: #13D483;
    }

    &-bg--color{
      background-color: #e7fbf2;
    }
  }
}

//Useful information
#services{
  .card{
    padding:5px;
    border:0;

    @include media-breakpoint-down(md){
      padding:0;
      margin:5px 0;
    }
  }

  h3{
    text-align:center;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }
}

//Covid

//Review

//Instagram
.crt-grid-post .crt-post-fullname{
  display:none !important;
}

.crt-icon-facebook, .crt-icon-twitter{
  display:none;
}

//Things to do


//OUR FLEET
#our-fleet-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(80px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//Vehicles
#our-fleet{

  .card-header{
    padding: 0;
  }


  .our-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
    }

    .our-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    .card{
      margin:10px 5px;
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}

//Comparison table
#compare-rv{

  .card-header{
    padding: 0;
  }


  .compare-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
    }

    .compare-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    .card{
      margin:10px 5px;
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}

//OUR FLEET SINGLE PAGE
//freedom motorhome
.features{
  img{
    width:30%;
  }

  .gearbox,.spec{
    width:30%;
  }
}

.whats-included{
  img{
    width:5%;
  }
}

.freedom-bg-colour{
  background-color: #eee;
}

.list-group-item {
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.125);
}


//HOW IT WORKS
#how-it-works-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(80px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//User Guide
.guide{
  position: relative;
  width:100%;
  height:500px;

  &__content{
    @include centerer;
  }
}

//Options


//What’s Included


//Dog Friendly
.pet__body{
  p{
    @include font-light;
  }

  li{
    @include font-light(20px);

    @include media-breakpoint-up(lg){
      margin:0 140px;
    }
  }
}

//FAQ

//ADVENTURES
#adventures-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(80px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//Itinerary

//instagram

//.background {
//  background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
//  position: relative;
//  height:400px;
//  width:100%;
//}
//
//.bg-layer {
//  background-color: #000;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//opacity:0.9;
//  z-index:1;
//
//}
//CONTACT
#contact-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(80px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

#contact{
  .social-buttons{
    position: relative;
  }

  span, i, a, p{
    font-size:rem-calc(24px);
  }

  a{
    text-decoration: none;
  }
}

//BOOKINGS
#booking-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("{{site.url}}//assets/img/california-6.1.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(80px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

.covid{
  h2{
    font-size: rem-calc(40px);
    text-align: left;
    color: #13D483;
  }

  &-bg--color{
    background-color: #e7fbf2;
  }

  p{
    font-size:rem-calc(18px);
  }
}

.booking{

  h2{
    @include font-heavy();
    color: $primary;
  }

  p{
    font-size:rem-calc(18px);
  }
}

//Not ready to reserve
#reserve{
  @include media-breakpoint-up(lg){
    margin-top: -200px;
  }
}

//PRIVACY POLICY
#privacy-policy,#tcs{
  h2,h3{
    font-size:rem-calc(24px);
  }

  h2{
    text-align: left;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.fix-parent{
  position: fixed;
  width:50px;
  height:180px;
  top:40%;
  right:0;
  background-color:$primary;
  color:#fff;


  .fix-child{
    transform:rotate(-90deg);
    position: relative;
    width:100px;
    height:180px;

    a{
    color:#fff;
      text-align:center;
      position: absolute;
      top:50px;
      text-decoration: none;
    }


  }

}