---
---

@import 'custom/bootstrap-override';
@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/footer';
@import 'custom/includes/_social-btn';
@import 'custom/includes/gallery';
@import 'custom/includes/motorhome-campervan-options';
@import 'custom/includes/hero';
@import 'custom/helpers/global-classes';
@import 'custom/helpers/mixins';
@import 'custom/vendors/juice';

/*
 * Website Name - Neash Motorhomes
 * Date - 22/1/22
 * Designed by Michael Owens / Dragon Info Tech
 */


//HOMEPAGE
//Intro
.intro{
  position: relative;

  &--bg-image{
    @include media-breakpoint-down(lg){
      height: 100vh;
    }

    height: calc(100vh - 183px);

    background: url("/assets/img/homepage-header.jpg") no-repeat center center;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    @include centerer;
    text-align:center;
    color:#fff;

    @include media-breakpoint-down(md){
      width:100%;
    }

    h1{
      font-size: rem-calc(66px);
      line-height:1;

      @include media-breakpoint-down(md){
        font-size: rem-calc(30px);
      }
    }

    p{
      font-size: rem-calc(36px);

      @include media-breakpoint-down(md){
        font-size: rem-calc(30px);
      }

    }
  }
}


//about
#h-about{

  .about{
    @include media-breakpoint-up(lg){
      height:800px;
    }
  }
  .about-bg-image{
    background: url("/assets/img/h-about.jpg") no-repeat center center;
    background-size:cover;
  }
  //background-color: #F6F6F6;

  .about{

    h2{
      font-size: rem-calc(38px);
    }

    h2, h3{
      text-align:left;
    }
  }
}

//Select your campervan
#our-rv{

  .card-header{
    padding: 0;
  }

  .our-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
    }

    .our-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    .card{
      margin:10px 5px;
    }

    @include media-breakpoint-up(lg){
      .card-body.our-rv__body-max-height {
        min-height:242px;
      }
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}


//Useful information
#services{
  .card{
    padding:5px;
    border:0;

    @include media-breakpoint-down(md){
      padding:0;
      margin:5px 0;
    }
  }

  h3{
    text-align:center;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }
}

//Covid

//Review

//Instagram
.crt-grid-post .crt-post-fullname{
  display:none !important;
}

.crt-icon-facebook, .crt-icon-twitter{
  display:none;
}

//Things to do
#Things-to-do{
  a:hover{
    text-decoration: none;
  }
}

//OUR FLEET
#our-fleet-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/our-fleet-header.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//Vehicles
#our-fleet{

  .card-header{
    padding: 0;
  }

  .our-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
    }

    .our-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    .card{
      margin:10px 5px;
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}

//Comparison table
#compare-rv{

  .item{
    margin:0 10px;
  }

  .card-header{
    padding: 0;
  }

  .compare-rv{
    h3{
      font-size:rem-calc(26px);
      text-align: center;
      font-weight:bold;
    }

    .compare-rv__header{
      p{
        font-size:rem-calc(20px);
      }
    }

    //compare our campers vans card images
    .card-img-top img{
      max-width:400px !important;
      height:267px !important;

      @include media-breakpoint-down(lg){
        max-width:100% !important;
        height:500px !important;
      }
    }

    .card{
      margin:10px 5px;
    }

    .birth{
      padding:10px;

      p{
        margin: 0;
        padding:5px;
        display: inline-block;
      }

      position: relative;

      .light-border{
        position: absolute;
        width:95px;
        height:3px;
        background-color: $primary;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }

  .card-border{
    border: 6px solid #EEEEEE;
  }
}

//OUR FLEET SINGLE PAGE
.features{
  img{
    width:30%;
  }

  .gearbox,.spec{
    width:30%;
  }
}
.whats-included{
  img{
    width:5%;
  }
}

.freedom-bg-colour{
  background-color: #fff;
}

.list-group-item {
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.whats-included-icons img{
  margin:0 2px;
}

//gallery

.gallery-background{
  width:100%;
  height:100%;

  @include media-breakpoint-down(lg){
    width:100%;
    height:100%;
  }
}

.gallery-background-large{
  width:1012px;
  height:600px;

  @include media-breakpoint-down(md){
    width:100%;
    height:100%;
  }
}

//freedom motorhome 1
#freedome-1{
  .background-1{
    background: url("/assets/img/freedom-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/freedom-6.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/freedom-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/freedom-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/freedom-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/freedom-1-gallery.png") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}

//independence
#independence{
  .background-1{
    background: url("/assets/img/independence-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/independence-1.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/independence-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/independence-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/independence-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/IMG_6658.jpg") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}

//Serenity I & II Motorhomes
#serenity{
  .background-1{
    background: url("/assets/img/serenity-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/serenity-1.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/serenity-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/serenity-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/serenity-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/T-line-590-driver-side.jpg") no-repeat center center;
    background-size:cover;
    height:800px;

    @include media-breakpoint-down(md){
      width:100%;
      height:100%;
    }
  }
}

//Horizon
#horizon{
  .background-1{
    background: url("/assets/img/horizon-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/horizon-1.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/horizon-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/horizon-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/horizon-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/horizon.png") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}


//Tranquillity motorhome
#tranquillity{
  .background-1{
    background: url("/assets/img/tranquillity-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/tranquillity-1.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/tranquillity-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/tranquillity-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/tranquillity-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/tranquillity.png") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}

//Tranquillity II motorhome


//Voyager I & II motorhomes
#voyager{
  .background-1{
    background: url("/assets/img/voyager-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/voyager-1.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/voyager-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/voyager-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/voyager-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/675-2020-Main-1.jpg") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}

#osiris{
  .background-1{
    background: url("/assets/img/osiris-2.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-2{
    background: url("/assets/img/osiris-3.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-3{
    background: url("/assets/img/osiris-4.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-4{
    background: url("/assets/img/osiris-5.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-5{
    background: url("/assets/img/osiris-6.jpg") no-repeat center center;
    background-size:cover;
    height:400px;
  }

  .background-6{
    background: url("/assets/img/osiris-1.jpg") no-repeat center center;
    background-size:cover;
    height:800px;
  }
}

//Free Spirit Campervan


//RESOURCES
#how-it-works-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/u-resources.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//User Guide
.guide{
  position: relative;
  width:100%;
  height:500px;

  &__content{
    @include centerer;
  }
}


//options

.resource-options{
  margin:5px;

  @include media-breakpoint-up(lg){

    .card-body{
      min-height: 140px;
    }

    .card-body-parent{
      position: relative;
    }

    .card-body-child{
      top:50%;
      position: absolute;
      transform:translateY(-50%);
    }
  }

}

//What’s Included

//essentials

.essentials{
  width:100%;
  padding:400px 0;

  @include media-breakpoint-down(md){
    padding:600px 0;
  }
  position: relative;

  &__content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:100%;

  }

  &-bg-image{
    background: url("/assets/img/resources-essentials.jpg") no-repeat center center;
    background-size:cover;
  }

  .essentials-bg-colour{
    height: 100%;
    background: rgba(0, 0, 0, .8);
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  p{
    font-size:18px;
  }

}

//home from home
.home{
  width:100%;
  padding:400px 0;

  @include media-breakpoint-down(md){
    padding:600px 0;
  }
  position: relative;


  &__content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:100%;
  }

  &-bg-image{
    background: url("/assets/img/resources-home.jpg") no-repeat center center;
    background-size:cover;
  }

  .home-bg-colour{
    height: 100%;
    background: rgba(0, 0, 0, .8);
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  p{
    font-size:18px;
  }

}

//Dog Friendly
.pet__body{
  p{
    @include font-light;
  }

  li{
    @include font-light(20px);

    @include media-breakpoint-up(lg){
      margin:0 140px;
    }
  }
}

//FAQ
#faq{
  @include media-breakpoint-down(lg){
    h3 button{
      font-size:24px;
    }

    p{
      font-size:20px;
    }
  }
}

//ADVENTURES

//things to do
#things-to-do{
  h3{
    text-align:center;
  }
}

.covid-bg--color-adventure{
  background-color:#c7dadc;
}

#adventures-header-p .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/u-adventure.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//challange

#challenge{
  .card{
    border-right: 4px solid $primary;
    @include media-breakpoint-down(lg) {
      border-right: 0 solid transparent;
    }
  }

  @include media-breakpoint-up(lg){
    .card-body{
      min-height:300px;
    }
  }

  .our-rv__header {
    h2{
      font-size:rem-calc(64px);
    }
    p{
      font-size:rem-calc(28px);
    }
  }
}

.challenge-bg-colour{
  background-color:#FC6621;
}

//Itinerary

//instagram

//CONTACT
#contact-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/our-fleet-header.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;

    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//contact
#contact{

  .contact{
    position: relative;
    height:650px;
    width:100%;
  }

  .contact-bg-image{
    background: url("/assets/img/contact-page-1.jpg") no-repeat center center;
    background-size: cover;
  }

  .contact__content{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
  }

  .social-buttons{
    position: relative;
  }

  span, i, a, p{
    font-size:rem-calc(18px);
  }

  a{
    text-decoration: none;
    color:#fff;
  }
}

//partner
.partner{
  position: relative;
  height:650px;
  width:100%;

  &__content{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
  }

  &-bg-image{
    background: url("/assets/img/Spirit-side.jpg") no-repeat center center;
    background-size: cover;
  }
}

//Work With Us - Influencer
.influencer{

  position: relative;
  height:650px;
  width:100%;

  &__content{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
  }

  &-bg-image{
    background: url("/assets/img/work-with-us-influencer.jpg") no-repeat center center;
    background-size: cover;
  }

  a{
    text-decoration: none;
  }
}

//ABOUT
#about-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/our-fleet-header.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

//BOOKINGS
#booking-header .utility{
  position: relative;
  height:400px;
  width:100%;

  &-bg-image{
    background: url("/assets/img/our-fleet-header.jpg") no-repeat center center;
    background-size:cover;
  }

  .bg-layer{
    @include overlay;
  }

  &__content{
    width:100%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color:#fff;
    text-align:center;
    position: absolute;


    h1{
      font-size:rem-calc(102px);

      @include media-breakpoint-down(md){
        font-size:rem-calc(40px);
      }
    }

    p{
      font-size:25px;
    }
  }
}

.covid{
  h2{
    font-size: rem-calc(40px);
    text-align: left;
    @include media-breakpoint-down(lg){
      text-align: center;
    }
    color: #13D483;
  }

  &-bg--color{
    background-color: #e7fbf2;
  }

  p{
    font-size:rem-calc(18px);
  }
}

.booking{

  h2{
    @include font-heavy();
    color: $primary;
  }

  p{
    font-size:rem-calc(18px);
  }
}

//Not ready to reserve
#reserve{
  @include media-breakpoint-up(lg){
    margin-top: -200px;
  }
}

//PRIVACY POLICY
#privacy-policy,#tcs{
  h2,h3{
    font-size:rem-calc(24px);
  }

  h2{
    text-align: left;
  }
}

//vechicle pages options slider
#vechicle-options{
  margin:25px 0 150px;

  h2{
    margin-bottom: 85px;
  }


  h3{
    font-size:rem-calc(18);
    text-align:center;
    margin-top: 15px;
  }

  @include media-breakpoint-up(lg){
    .card-body{
      margin-top:30px;
    }

    .card{
      border:none;
    }
  }

  .owl-options-gallery,.owl-item.center img {
    transform: scale(1.4);
  }

  .owl-item.center,.card-img-top {
    z-index:200;
    position: relative;
  }

  .owl-options-gallery,.card-body {
    display:none;
    background-color: $primary;
  }

  .owl-options-gallery,.owl-item.center .card-body {
    display:block;
  }

  .owl-options-gallery,.owl-item.center .card-body {
    margin-left: -30px;
  }

  .owl-dots{
    padding-bottom:100px;
    margin-top: -15px;
  }

  .options__content{
    overflow: hidden;
  }
}